@model ForgetPasswordModel

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>请输入注册邮箱</h4>
    </div>
    <div class="model-body" style="padding: 15px">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { id = "formForgetPassword" }))
        {
            <div class="form-group">
                <div class="input-group">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success">确认</button>
                    </span>
                </div>
                <span class="help-block">我们将发送重置密码邮件到您的邮箱</span>
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "validation-msg" })
            </div>
        }
        <script type="text/javascript">
            $.validator.unobtrusive.parse("#formForgetPassword");
        </script>
    </div>
</div>