@{

}

<div class="centered" style="max-width: 720px; padding: 0 10px">
    <div class="survey-question" data-id="1" style="display: none">
        <div class="header">
            <h4>请问你的名字是？
            </h4>
            <p class="error-msg" style="display: none"></p>
        </div>
        <div class="content">
            <div class="options">
                <label>
                    <input type="radio" name="optionsRadios" value="option1">
                    毛小胖
                </label>
                <label>
                    <input type="radio" name="optionsRadios" value="毛雅婷" class="correct">
                    毛雅婷
                </label>
                <label>
                    <input type="radio" name="optionsRadios" value="option3">
                    毛智障
                </label>
            </div>
        </div>
        <div class="action">
            <button class="submit btn btn-success">确认</button>
        </div>
    </div>
    <div class="survey-question" data-id="2" style="display: none">
        <div class="header">
            <h4>您好<span class="replacable"></span>，你最喜欢别人叫你什么？
            </h4>
            <p class="error-msg" style="display: none"></p>
        </div>
        <div class="content">
            <div class="options">
                <label>
                    <input type="radio" name="optionsRadios" value="option1">
                    胖豆豆
                </label>
                <label>
                    <input type="radio" name="optionsRadios" value="option2">
                    笨豆豆
                </label>
                <label>
                    <input type="radio" name="optionsRadios" value="美豆豆" class="correct">
                    美豆豆
                </label>
            </div>
        </div>
        <div class="action">
            <button class="submit btn btn-success">确认</button>
        </div>
    </div>
    <div class="survey-question" data-id="3" style="display: none">
        <div class="header">
            <h4>好的<span class="replacable"></span>，你的男朋友是谁呢？
            </h4>
            <p class="error-msg" style="display: none"></p>
        </div>
        <div class="content">
            <div class="options">
                <label>
                    <input type="radio" name="optionsRadios" value="option1">
                    曹某某
                </label>
                <label>
                    <input type="radio" name="optionsRadios" value="option2">
                    Wayne &times;&times;&times;
                </label>
                <label>
                    <input type="radio" name="optionsRadios" value="帅麻菇" class="correct">
                    帅麻菇
                </label>
            </div>
        </div>
        <div class="action">
            <button class="submit btn btn-success">确认</button>
        </div>
    </div>
    <div class="survey-question" data-id="4" style="display: none">
        <div class="header">
            <h4>那<span class="replacable"></span>喜欢叫你什么呢？
            </h4>
            <p class="error-msg" style="display: none"></p>
        </div>
        <div class="content">
            <div class="options">
                <label>
                    <input type="radio" name="optionsRadios" value="大屁" class="correct">
                    大屁
                </label>
                <label>
                    <input type="radio" name="optionsRadios" value="屁肉" class="correct">
                    屁肉
                </label>
                <label>
                    <input type="radio" name="optionsRadios" value="猪豆" class="correct">
                    猪豆
                </label>
            </div>
        </div>
        <div class="action">
            <button class="submit btn btn-success">确认</button>
        </div>
    </div>
    <div class="survey-question" data-id="5" style="display: none">
        <div class="header">
            <h4>那么<span class="replacable"></span>，为什么这个问卷的问题这么奇怪啊？
            </h4>
            <p class="error-msg" style="display: none"></p>
        </div>
        <div class="content">
            <div class="options">
                <label>
                    <input type="radio" name="optionsRadios" value="option1">
                    因为帅麻菇在测试新功能啊！
                </label>
                <label>
                    <input type="radio" name="optionsRadios" value="option2" class="correct">
                    因为我是笨<span class="replacable"></span>啊！
                </label>
                <label>
                    <input type="radio" name="optionsRadios" value="option3">
                    因为我太美丽，这是帅麻菇打击报复！
                </label>
            </div>
        </div>
        <div class="action">
            <button class="submit btn btn-success">确认</button>
        </div>
    </div>
</div>

<div class="card" style="display: none">
    <h2>生日快乐！</h2>
    <p>亲爱的大豆豆，</p>
    <p>今天是12月9日，你的生日。麻菇我没有什么办法给在美国的你一个很好的生日礼物，所以我想得到的就是用这样一个方式，写一封信给你。</p>
    <p>感谢你跟我在一起的2年多，这么久以来无论是我在美国工作，还是决定回国，再或者任性去创业，你都是最支持我的那个人，我没有办法做的比你好。即便是我们分开的日子里，你也有办法逗我开心让我感觉到你就在我身边，我一转身就能看到你露着牙花朝我笑。</p>
    <p>连我妈都催着我让我给你准备一份礼物，但是我真的没什么更好的点子了……为你唱一首Rap也太难为我了，我现在的节奏也没时间写那种东西……所以我决定还是用自己擅长的方式，给你一个最独特的惊喜。</p>
    <p>When the sun is in the sky, you are the sunshine kissing my neck;</p>
    <p>When the rain blurs my eyes, you are the rainbow coloring my sight;</p>
    <p>Wherever I lost the track, you are lighting the road ahead;</p>
    <p>Whatever happens in my life, you are fighting by my side.</p>
    <p>亲爱的生日快乐！</p>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var valOnHold = '',
            tagSelector = '.survey-question',
            card = $('.card');

        $(tagSelector).first().fadeIn('fast', function () {
            $(this).trigger('showed')
        });

        $(tagSelector).on('showed', function () {
            $(this).find('.replacable').text(valOnHold);
        })

        card.on('click', function () {
            card.toggleClass('card--open');
        })

        $(tagSelector + '>.action>.submit').click(function () {
            var tag = $(this).closest(tagSelector),
                errorInfoTag = tag.find('.error-msg'),
                nextId = tag.data('id') + 1,
                selectedOptn = tag.find('input[name="optionsRadios"]:checked');

            if (selectedOptn.length == 0) {
                errorInfoTag.text('什么都不选啊……T_T');
                errorInfoTag.show();
            }
            else if (!selectedOptn.hasClass('correct')) {
                errorInfoTag.text('这都选不对啊……')
                errorInfoTag.show();
            }
            else if (!tag.is(':last-child')) {
                errorInfoTag.hide();
                valOnHold = selectedOptn.val();
                tag.siblings(tagSelector).filter('[data-id=' + nextId + ']').slideDown('slow', function () {
                    $(this).trigger('showed')
                });
                tag.slideUp('slow');
            }
            else {
                errorInfoTag.hide();
                valOnHold = selectedOptn.val();
                tag.slideUp('slow', function () {
                    card.fadeIn('slow');
                });
            }
        })
    })
</script>
