@model IEnumerable<RTCareerAsk.Models.NotificationModel>

@{
    RTCareerAsk.Models.TabModel tabFilters = new RTCareerAsk.Models.TabModel();
    tabFilters.TabItems.Add("所有提醒", new RTCareerAsk.Models.ActionLinkParams() { ActionName = "LoadNotificationsByType", ControllerName = "Message", RouteValues = new { contentType = 0 } });
    tabFilters.TabItems.Add("推荐", new RTCareerAsk.Models.ActionLinkParams() { ActionName = "LoadNotificationsByType", ControllerName = "Message", RouteValues = new { contentType = 1 } });
    tabFilters.TabItems.Add("评论及回复", new RTCareerAsk.Models.ActionLinkParams() { ActionName = "LoadNotificationsByType", ControllerName = "Message", RouteValues = new { contentType = 2 } });
    tabFilters.TabItems.Add("关注", new RTCareerAsk.Models.ActionLinkParams() { ActionName = "LoadNotificationsByType", ControllerName = "Message", RouteValues = new { contentType = 3 } });
    tabFilters.ActiveItem = "所有提醒";
    tabFilters.AjaxOptns = new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divMessageList", OnFailure = "OnNotificationFailure", OnComplete = "SetScrollPaging" };
    tabFilters.HtmlAttrs.Add("class", "tab-sorting");
}

<div>
    @Ajax.UpperTab(tabFilters, null)
    <br />
    <div id="divMessageList" style="padding: 0 10px">
        @Html.Partial("_NotificationList", Model)
    </div>
</div>
