@{
    ViewBag.Title = "ResetPasswordSuccess";
}

<div>
    <h2>密码重置邮件发送成功！</h2>
    <p class="text-primary">密码重置邮件已发送至您的邮箱@(ViewBag.Email)，请验证之后登录。</p>
    <p class="text-info">接下来您可以返回：</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-info">Upper首页</a>
</div>
