<div class="centered" style="max-width: 720px; padding: 0 10px">
    <h3 style="line-height: 1.5">身份验证邮件已经发送至您的邮箱<span style="color: #70BF40">@ViewBag.Email</span>，请进入邮箱点击验证链接完成注册。</h3>
    <br />
    <br />
    <br />
    <p class="text-info">接下来您可以返回：</p>
    <a href="@ViewBag.ReturnUrl" class="btn btn-success outline">之前访问的页面</a>
    <a href="@Url.Action("Index", "Home")" class="btn btn-info outline">UpperCareer社区首页</a>
</div>
