<div class="portrait">
    <div class="box" style="position: relative">
        <div class="col-lg-6">
            <div id="divDropTarget" class="drop">
                <span>把图片拖放在这里</span>
            </div>
        </div>
        <div id="divPreview" class="clear-fix col-lg-6">
            <div class="preview-lg"></div>
            <div class="preview-md"></div>
            <div class="preview-sm"></div>
        </div>
        <div id="divActions" class="col-lg-6" style="display: none; position: absolute; bottom: 15px; right: 0">
            <button id="btnUpload" class="btn btn-success  btn-lg">保存并更改头像</button>
        </div>
    </div>
</div>