<div class="portrait">
    <div class="box">
        <a href="#" class="drop-area file-await">
            <div id="divDropTarget" class="drop-target" style="height: 100%; text-align: center">
                <div style="height: 100%; display: flex; align-items: center; justify-content: center; color: #808080; opacity: 0.5">
                    <span>点击或将图片拖放在这里</span>
                </div>
            </div>
        </a>
        <input type="file" id="inpPortraitFile" value="" style="display: none" />
        <div id="divPreview" class="preview-area">
            <div class="preview"></div>
            <div id="divActions" class="action-area btn-group">
                <button id="btnUpload" class="btn btn-success">保存并更改头像</button>
                <button id="btnReselect" class="btn btn-default">重新选择</button>
            </div>
        </div>
    </div>
</div>
