@model List<RTCareerAsk.Models.CommentModel>

@foreach (RTCareerAsk.Models.CommentModel c in Model)
{
    <blockquote class="blockquote-reverse">
        <p>@c.Content</p>
        <small>
            @Html.ActionLink(c.Creator.Name, "Index", "User", new { id = c.Creator.UserID }, new { })
            <cite title="Source Title">@c.DateCreate.ToShortDateString()</cite></small>
    </blockquote>
}
