@model RTCareerAsk.Models.CommentPostModel

@using (Ajax.BeginForm("PostComment", "Question", new { }, new AjaxOptions
{
    LoadingElementId = "divInfoLoading",
    UpdateTargetId = string.Format("divCmtList{0}", Model.AnswerID),
    OnBegin = "OnCmtBegin",
    OnSuccess = string.Format("OnCmtSuccess('{0}')", Model.AnswerID),
    OnComplete = "OnCmtComplete",
    OnFailure = "OnCmtFailure"
}, new { id = string.Format("formCmt{0}", Model.AnswerID), @class = "form-horizontal comment-form" }))
{
    @Html.HiddenFor(model => model.AnswerID)
    @Html.HiddenFor(model => model.NotifyUserID)
    <div class="form-group" style="padding-left: 22px;">
        <div class="col-lg-12">
            @Html.TextAreaFor(model => model.PostContent, new { style = "width:100%", rows = "4", placeholder = "请在此输入评论内容" })
            <span class="validate">@Html.ValidationMessageFor(model => model.PostContent, "", new { @class = "validation-msg" })</span>
        </div>
    </div>
    <div>
        <div class="float-right">
            <ul class="breadcrumb">
                <li>
                    <button type="submit" class="btn btn-link">提交</button>
                </li>
            </ul>
        </div>
    </div>
}
