@model List<RTCareerAsk.Models.AnswerModel>

<div class="content-info">
    <div class="list-group box">
        @foreach (RTCareerAsk.Models.AnswerModel a in Model)
        {
            <div class="list-group-item">
                <a href="@Url.Action("AnswerDetail", "Question", new { id = a.ID })" style="color:#70BF40">
                    <h4 class="list-group-item-heading">@a.ForQuestion.Title</h4>
                </a>
                <div class="list-group-item-text">@Html.Raw(HttpUtility.HtmlDecode(a.Content))</div>
                <p class="extra">@a.CreateBefore</p>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    Resize('content');
    $('.list-group-item-text').uppershorten();
</script>
