@model List<RTCareerAsk.Models.QuestionInfoModel>

<div class="content-info">
    <div class="list-group box">
        @foreach (RTCareerAsk.Models.QuestionInfoModel q in Model)
        {
            <div class="list-group-item">
                <a href="@Url.Action("Index", "Question", new { id = q.ID })" style="color:#70BF40">
                    <h4 class="list-group-item-heading">@q.Title</h4>
                </a>
                <p class="list-group-item-text">@Html.Raw(HttpUtility.HtmlDecode(q.Content))</p>
                <p class="extra">@q.CreateBefore</p>
            </div>
        }
    </div>
</div>

