@model RTCareerAsk.Models.QuestionModel

@section featured{
    <div class="featured-section">
        <div class="left" style="margin: 0 auto">
            @Html.Partial("_QuestionDetail", Model)
        </div>
    </div>
}

<div id="divAnswerList" class="answer-detail" style="margin: 0 auto">
    @Html.Partial("_AnswersDetail", Model.Answers)
</div>

@section scripts{
    @Scripts.Render("~/bundles/question")
}